@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');

a:focus{
    outline: none;
}

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

header{
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo{
    filter: brightness(0) invert(1);
    width: 50px;
    height: 50px;
    margin: 30px;
    vertical-align: -35px;
}

h1{
    text-transform: uppercase;
    display: inline-block;
    font-size: 50px;
}

header nav{
    align-self: center;
}

header nav ul{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

header nav ul li{
    margin: 15px;
    font-size: 25px;
}

header nav ul li a{
    text-decoration: none;
    color: inherit;
}

header a:not(#current):hover, #current{
    opacity: 0.5;
}

section{
    font-size: 30px;
}

#latest-album{
    text-align: center;
    color: white;
    padding: 140px 100px 50px 100px;
    background-image: url('background.jpg');
}

#latest-album-cover{
    width: 590px;
    margin: 20px;
}

#listen-links img{
    width: 150px;
}

#wac, #bright, #unimaginable{
    padding: 10px 50px 50px 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ol{
    width: fit-content;
    list-style-position: inside;
    text-align: left;
    font-size: 0.85em;
    align-self: flex-start;
}

h3{
    font-size: 1.7em;
    margin-bottom: 0;
}

p{
    margin-top: 0;
}

#wac ol li, #unimaginable ol li{
    border-top: 1px solid black;
}

#bright ol li{
    border-top: 1px solid white;
}

#wac ol li:last-child, #unimaginable ol li:last-child{
    border-bottom: 1px solid black;
}

#bright ol li:last-child{
    border-bottom: 1px solid white;
}

.albums{
    width: 500px;
}

.music-links{
    text-align: center;
    width: 500px; /*same as album cover*/
    margin-top: 20px;
        
}

.music-links img{
    width: 45px;
    margin: 5px 10px;
}

#wac, #unimaginable{
    background-image: url('background-white.jpg');
}

#bright{
    color: white;
    text-align: right;
    background-image: url('background.jpg');
}

footer{
    background-image: url('background.jpg');
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.2em;
}

#social-links img{
    margin: 10px 30px;
    width: 50px;
}

#raggzy{
    color: red;
    text-decoration: none;
}